body {
  background-color: #87ceeb; /* Azul cielo */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
  min-height: 100vh; /* Altura mínima de la página */
}

.login-container {
  background-color: #fff;
  padding: 40px; /* Aumenta el padding para mayor longitud */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  min-height: 50vh; /* Asegura que el contenedor también sea más largo */
}

header h1 {
  color: #ff9800; /* Naranja */
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #ff9800; /* Naranja */
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.links a {
  color: #ff9800; /* Naranja */
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ff9800; /* Naranja */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ffa726; /* Naranja claro */
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .login-container {
  background-color: #333;
  color: #ffffff;
}

.dark-mode button {
  background-color: #555;
}
